# Ignore local Terraform directory
.terraform/

# Ignore Terraform state files (CRITICAL)
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform.tfvars
*.tfvars.json

tfplan
tfplan.binary

# Ignore crash logs
crash.log 

# Ignore override files which are usually used for local overrides and may contain sensitive data
override.tf
override.tf.json 

# Ignore CLI configuration files which may contain credentials
.terraformrc
terraform.rc  